@import 'form';
@import 'reset';
@import 'header';
@import 'board';
@import 'task';

body{
    width: 414px;
    height: 921px;
    background: #ffffff;
}

h2{
    color: #000000;
    font-family: Avenir;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 33px 0px;
    width: 300px; /* あなたの必要な幅に合わせてください */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    width: 90%;
    margin: auto;
  }

a{
    text-decoration: none; 
    color: inherit; 
}