input{
    width: 362px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    border: none;
    margin-top: 4px;
    margin-bottom: 16px;
}

.email{
    margin-bottom: 33px;
  }

.label{
    color: #000000;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.btn{
    width: 362px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F8BD1C;
    color: #FFF;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 424px;
}

.login{
    margin-top: 514px;
}

.description {
    @extend input;
    padding-bottom: 203px;
    resize: none;
  }

.boards-btn{
    @extend .btn;
    margin-top: 341px;
}

.tasks-btn{
    @extend .btn;
}